package views_livechat

templ LiveChat() {
    <html>
    <head>
        <title>LiveChat</title> 
    </head>
    <body>
        <section class="live-chat h-32 w-64 bg-gray-400">
        </section>
    </body>
    </html>
    
}
